#photo-container {
    max-width: 500px;
    height: auto;
}

.random-photo {
    max-width: 500px;
    max-height: 500px;
    height: auto;
}

.recent-photo {
    max-width: 300px;
    max-height: 300px;
    height: auto;
}